body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    height: 98vh;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: "Roboto", "sans-serif";
    border: 5px solid orange;
  }
  
  #map {
    flex: 1; /* Take up remaining space */
    width: 99%;
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    width: 99%;
    margin-bottom: 10px;
    height: 10vh;
  }

h1 {
    font-size: 1em; /* Default size for larger screens */
    text-align: center;
    color: #333;
}


button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#action_buttons {
  margin-bottom: 20px;
}

#singleStopDiv {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.close-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  border-radius: 50%; /* Rounded shape */
  padding: 5px; /* Adjust as needed */
  text-decoration: none;
  display: inline-block;
  font-size: 12px; /* Adjust as needed */
  margin: 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.close-button:hover {
  background-color: white; 
  color: #f44336; /* Red */
}

.close-button-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  border: 1px solid #ddd;
  padding: 3px;
  text-align: left;
  font-size: 150%;
}

.attribute-label {
  font-weight: bold;
  font-size: 150%;
}

.attribute-value {
  color: #333;
  font-size: 150%;
}

.title-row {
  margin-bottom: 10px; /* Adjust as needed */
}

.route-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  border-radius: 12px; /* Rounded corners */
  padding: 10px 20px; /* Adjust as needed */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.route-button:hover {
  background-color: white; 
  color: black;
}

