body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    height: 98vh;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: "Roboto", "sans-serif";
    border: 5px solid orange;
  }
  
  #map {
    flex: 1; /* Take up remaining space */
    width: 99%;
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    width: 99%;
    margin-bottom: 10px;
    height: 10vh;
  }

h1 {
    font-size: 1em; /* Default size for larger screens */
    text-align: center;
    color: #333;
}

/* When the viewport is 600px or less, decrease the font size */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 0.75em;
    }
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#action_buttons {
  margin-bottom: 20px;
}